
/* Font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');

:lang(ko) {
	font-family: 'Nanum Gothic', sans-serif;
}
:lang(en) {
	font-family: 'Nanum Gothic', sans-serif;
}
:lang(jp) {
	font-family: 'Noto Sans JP', sans-serif;
}
:lang(jp) > input[type="text"], :lang(jp) > input[type="password"], :lang(zh) > input[type="text"], :lang(zh) > input[type="password"] {
	width: 200px;
}
:lang(jp) .gnb li>a span, :lang(jp)	.gnb .menuwrap .gnb_sub_inner ul li a, :lang(zh) .gnb li>a span, :lang(zh)	.gnb .menuwrap .gnb_sub_inner ul li a {
	font-weight: normal;
}
:lang(zh) {
	font-family: 'Noto Sans SC', sans-serif;
}

/* Reset */
* { margin:0; padding:0; }

body , html { width:100%; height:100%; overflow-x:hidden; font-size:0.95em;  }
ul { list-style:none; }
a { text-decoration:none; color: #484848; cursor: pointer;}
img { border:0;}

html {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em; font-family: 'Nanum Gothic' , sans-serif;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
h5, button {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.8em;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
input {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em; border-collapse: collapse; border-spacing: 0;
}
table caption {
	display: none;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 1.5em;
}
img {
	border: 0px currentColor; vertical-align: top;
}
fieldset {
	border: 0px currentColor;
}
address { 
	font-style:normal; margin: 0px; padding: 0px; border: 0px ; line-height: 1.5em; white-space: nowrap;
}
select{
    -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none;
}
select::-ms-expand{
    display: none;
}

.common_select { background: #fff; color:#666; border:solid 1px #aaa; padding:0px 25px 0px 0px; background: url(../images/icn_select_arrow.gif) no-repeat 94% center; min-width:90px; text-indent: 5px; box-sizing: border-box; height: 30px;}

input[type="text"], input[type="password"] { border:solid 1px #aaaaaa; box-sizing: border-box; height:28px; padding:3px;  }

input[type="file"] { position: absolute; width:1px; height: 1px !important; padding:0 !important; margin:-1px; overflow: hidden; border:0; }

.hidden {
	visibility:hidden;
}
.displayNone {
	display: none !important;
}

.clearfix {
	display: inline-block;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

.cursor { cursor: pointer; }
.bg-none { background: none !important; }


#Wrapper { position: relative; width:100%; height:100%; overflow-x: hidden; white-space: nowrap; }
.container { width: 100%; padding: 0 1em; margin:0 auto; position: relative; overflow:visible; height: auto; white-space: normal; box-sizing: border-box;}

.container_inner { max-width: 1200px; margin:0 auto; position: relative; overflow: visible; white-space: normal;}
.container_inner_apl { max-width: 960px; margin:0 auto; position: relative; overflow: visible; white-space: normal; height: 100%; box-sizing: border-box;}
.container_inner_apl_f { max-width: 960px; margin:0 auto; position: relative; overflow: visible; white-space: normal; box-sizing: border-box;}
.header_inner { padding:0 1%; position: relative; }
.gnb_sub_inner, .gnb_sub_inner_many { max-width: 1200px; margin: 0 auto; position: relative; box-sizing: border-box; }

.bold { font-weight: bold; }
.bold500 { font-weight: 500; }
.bold600 { font-weight: 600; }

.underline:hover { text-decoration: underline; }
.text_underline { text-decoration: underline; }
.hoverFFF:hover{ color: #fff; }
.ellip { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.block { display: block; }
.inlineBlock { display: inline-block !important; }

.left { float: left; }
.right { float: right; }
.clear { clear:both; }

.textCenter { text-align: center; }
.textLeft { text-align: left !important; }
.textRight { text-align: right; }
.t-idt15 { text-indent: 15px; }

.pd10 { padding:10px !important }
.ptb1em { padding:1em 0; }
.ptb3 { padding:3px 0; }
.ptb5 { padding:5px 0; }
.ptb10 { padding:10px 0; }
.ptb15 { padding:15px 0; }
.ptb20 { padding:20px 0; }
.ptb25 { padding:25px 0; }
.pt2em { padding-top: 2em !important; }
.pt1em { padding-top: 1em !important; }
.pt3 { padding-top: 3px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt50 { padding-top: 50px; }
.ptb1_3em { padding:1.3em 0}
.ptb2em { padding:2em 0; }
.pl3 { padding-left:3px; }
.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl1em { padding-left:1em; }
.prl5 { padding:0 5px; }
.prl10 { padding:0 10px; }
.pr1em { padding-right:1em; }
.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pb1em { padding-bottom: 1em; }
.pb2em { padding-bottom: 2em; }
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}

.mt1em { margin-top: 1em; }
.mt2em { margin-top: 2em; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mtb1em { margin:1em 0; }
.mtb2em { margin:2em 0; }
.mtb10 { margin:10px 0; }
.mtb20 { margin:20px 0; }
.mt1em_mb2em { margin:1em 0 2em 0; }
.mtb1_5em { margin:1.5em 0; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb1em { margin-bottom: 1em; }
.mb1_5em { margin-bottom: 1.5em; }
.mb2em { margin-bottom: 2em; }
.mr5 { margin-right: 5px; }
.mrl10 { margin:0 10px; }
.mr10 { margin-right: 10px; }
.ml10 { margin-left: 10px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }

.width100 { width: 100px }
.width80 { width: 80px }
.width50 { width: 50px }
.width100p { width:100%; }
.hit100p { height:100%; }
.width70p { height:70%; }
.width50p { height:50%; }

.font45 { font-size:45px !important; }
.font11  { font-size: 11px; }
.font12  { font-size: 12px; }
.font13  { font-size: 13px; }
.font14  { font-size: 14px; }
.font15  { font-size: 15px; }
.font18 { font-size: 18px; }
.font1_5em { font-size: 1.5em; }
.font1_8em { font-size: 1.8em; }
.font1_9em { font-size: 1.9em; }
.font2em { font-size: 2em; }
.font2_1em { font-size: 2.1em; }
.font2_2em { font-size: 2.2em; }
.font2_3em { font-size: 2.3em; }
.font2_5em { font-size: 2.5em; }

.colorYellow { color: #fdb927 !important; }
.color_deepgray { color: #3f4040; }
.color_black { color:#333 !important; }
.color_gray { color:#888; }
.color_deepblack { color:#222; }
.color_green { color:#238007; }
.color_orange { color: #e86903 }
.color_navy { color:#003976; }
.color_fff { color:#fff; }
.color_444 { color:#444; }
.point_color_blue { color:#0668b3 !important}
.point_color_red { color:#f80101 !important; }

.line_1_8 { line-height: 1.8em !important; }

.link_mail { border-bottom: solid 1px #0093ca; color:#0093ca;}
.link_web { color:#ff7200; }
.link_file { background: url(../images/icn_file.png) no-repeat left center; padding:1px 0;  display: block; text-indent: 25px;}
.link_tel { cursor: default; }

.vertical_md{ vertical-align: middle; }

.border_r_none { border-right: none !important }
.border_b_none { border-bottom: none !important }
.border_b_ccc { border-bottom: solid 1px #ccccd1 !important }
.border_l_ccc { border-left: solid 1px #ccccd1 !important }
.border_b_066 { border-bottom: solid 1px #0668b3 !important;  }
.common_b { background: url(../images/Border_common.gif)no-repeat right center; padding-right: 10px; }

.icn_Tit01 { background: url(../images/icn_Tit01.gif) no-repeat left 5px; padding-left: 15px; font-size: 1.4em; font-weight: 600; padding-bottom: 1em;  }
.icn_Tit02 { background: url(../images/icn_Tit02.gif) no-repeat left 1px; padding-left: 10px;  font-weight: bold; color:#5b5845; }
.icn_Tit03 { background: url(../images/icn_Tit03.gif) no-repeat left center; padding-left: 20px;  font-weight: bold; color: #003976; display: block; font-size: 1.1em;}
.icn_list01 { background: url(../images/icn_list01.gif) no-repeat left 8px; padding-left:25px; }
.icn_list02 { background: url(../images/icn_list02.gif) no-repeat left center; padding-left:20px; }

.icn_blt01 { background: url(../images/icn_bullet01.gif) no-repeat left center; padding-left: 10px; }
.icn_blt02 { background: url(../images/icn_bullet01.gif) no-repeat left 8px; padding-left: 10px; }
.icn_chk { background: url(../images/icn_chk.gif) no-repeat right center;   display: inline-block; padding-right: 20px; }
.btn_right { float: right; display: flex; }
.btn_center { text-align: center; display: flex;}

.btn_border_navy { text-align: center; border:solid 1px #003976; color:#003976; background:#fff; padding: 10px; min-width: 120px}
.btn_border_gray { text-align: center; border:solid 1px #737373; color:#333; background:#fff; padding: 10px; min-width: 120px}
.btn_border_blue2 { text-align: center; border:solid 1px #0668b3; color:#0668b3; background:#fff; padding:10px; }
.btn_border_blue { text-align: center; border:solid 1px #0668b3; color:#0668b3; background:#fff; padding:5px 10px; }
.btn_bg_blue { background: #0668b3; color:#fff; font-weight: 600; padding:10px; display: block; min-width: 100px; text-align: center; }
.btn_bg_navy { background: #225389; color:#fff; font-weight: 600; padding:10px; display: block; min-width: 100px; text-align: center; }
.btn_bg_gray { background: #a9a9a9; color: #fff; font-weight: 600; padding:10px; display: block; min-width: 100px; text-align: center;}
.btn_login { background: #0668b3; color:#fff; display: block; padding:10px 30px; }
.btn_login:hover { font-weight: bold; }
.btn_close { background: url(../images/btn_close.gif) no-repeat; text-indent: -9999px; display: block; width:19px; height: 19px; position: absolute; right:20px; top:20px; }
.btn_del { background: url(../images/icn_del.gif) no-repeat right 7px; text-indent: -9999px; display: inline-block; min-width:10px; min-height: 11px;}
.btn_s_view { background:#fff; color: #444; border:solid 1px #aaa; padding:3px 7px; border-radius:3px; font-size: 11px;} 

.dot_tit { background:url(../images/bg_join_tit.gif) repeat left top; width:100%; box-sizing: border-box; color:#fff; text-align: center; }
.dot_tit02 { background:url(../images/bg_join_tit02.gif) repeat left top; width:100%; box-sizing: border-box; color:#fff; text-align: center; }

/* ë²„ìŠ¤ */
.bus_blue { background: #3d9ae0; color:#fff; font-size: 11px; padding:0 3px; display: inline-block; }
.bus_green { background: #5fae44; color:#fff; font-size: 11px; padding:0 3px; display: inline-block; }

/* íˆ´íŒ */
.tooltip { position: relative; background: url(../images/icn_tt.gif) no-repeat left top; display: inline-block; width:100%; height: 16px; vertical-align: middle; cursor: pointer; left:85px; top:-19px; }
.tooltip .tooltiptext { display: none; position: absolute; z-index: 1; width:100%; left:-85px;}
.tooltip:hover .tooltiptext { display: block; bottom:18px ; width:100%;}
.tooltip .tooltiptext ul { padding:20px; background: #fafafa; font-size: 12px;border-top:solid 2px #003976; border-bottom:solid 1px #003976; width:100%; box-sizing: border-box;}
.tooltip .tooltiptext ul li { margin-bottom: 10px; background: url(../images/icn_bullet01.gif) no-repeat left 8px; padding-left: 10px; width:100%;}
.tooltip .tooltiptext ul li:last-child { margin-bottom: 0; }
.tooltip .tooltiptext ul li ul { padding: 5px; background: none; border:none; }
.tooltip .tooltiptext ul li ul li { background: none; margin-bottom: 5px;} 